@import "https://www.nerdfonts.com/assets/css/webfont.css";
@import "https://fonts.googleapis.com/css2?family=Josefin+Sans";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  outline: none;
  font-family: "Josefin Sans", sans-serif;
}

body {
  background-color: #131320;
  overflow-x: hidden;
}

body > div {
  background-image: linear-gradient(to bottom, #131320, #595962);
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  padding: 3rem;
  border-radius: 0.25rem;
  width: 100vw;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}

div > section {
  background-color: #fafbfc;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0.5rem;
}

#personalInformation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  margin-right: 0.05rem;
  padding: 2rem 0;
  width: 30%;
}

#personalInformation > .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
}

#personalInformation > .header > img {
  border-radius: 0.5rem;
  padding-bottom: 0.5rem;
}

#personalInformation > .elements {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
}

#personalInformation > .elements > h3 {
  display: block;
  margin: 1.5rem 0;
  text-decoration: underline;
  text-align: left;
  padding: 0 1.5rem;
}

#personalInformation > .elements > ul {
  align-self: center;
}

#personalInformation > .elements > ul > li {
  list-style: none;
}

#personalInformation > .elements > ul > li:nth-child(even) {
  margin: 0.75rem 0;
}

#personalInformation > .elements > ul > li > span {
  margin-left: 0.5rem;
}

#timeline {
  width: 70%;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  margin-left: 0.05rem;
}
